@{
	ViewBag.Title = "Acerca de Nosotros";
}
<!-- Parallax Superior -->
<div id="content">
	<div class="parallax-container">
		<div class="parallax hide-on-med-and-down"><img class="responsive-img" src="~/Resources/Images/placebo1-responsive.png"></div>
		<div class="parallax hide-on-large-only"><img src="~/Resources/Images/placebo1-responsive.png"></div>
	</div>
	<div class="section white">

		<!-- Información de contacto -->
		<div class="container row">
			<div id="blank-space" class="hide-on-small-only col s12 m2 l4">
				&nbsp;
			</div>

			<div id="blank-space" class="hide-on-small-only col s12 m2 l4">
				&nbsp;
			</div>
		</div>
	</div>

	<div class="container" style="text-align: initial">
		@Html.Raw(ViewBag.Html)
	</div>

	<div class="row z-depth-3">
		<div class="row" style="padding-top: 30px">
			<!-- Contacto y mapa: Desktop-->
			<div class="hide-on-small-only hide-on-med-only col l6" style="padding-top: 30px">
				<h5 class="black-text">Contacto</h5>
				<a href="mailto:puquereo@gmail.com"><p class="black-text text-lighten-4" style="font-size:20px"> <i class="material-icons small" style="vertical-align:bottom">email</i> puquereo@gmail.com</p></a>
				<a href="tel:+56974555260"><p class="black-text text-lighten-4" style="font-size:20px;"> <i class="material-icons small" style="vertical-align:bottom">local_phone</i> +5697455526</p></a>
				<a href="https://goo.gl/maps/7GipYBfQgd82"><p class="black-text text-lighten-4" style="font-size:20px;"> <i class="material-icons small" style="vertical-align:bottom">location_on</i> Km. 27 Ruta Freire-Villarica, Freire.</p></a>
			</div>
			<div class="hide-on-small-only hide-on-med-only col l6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1630.7476323770009!2d-72.38775969330428!3d-39.098634810546365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9614eda27b080a13%3A0xa7b401f42180d240!2sRuta+199%2C+Freire%2C+IX+Regi%C3%B3n!5e1!3m2!1ses-419!2scl!4v1522177328746" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<!-- Contacto y mapa: Tablet -->
			<div class="hide-on-small-only hide-on-large-only col m6" style="padding-top: 30px">
				<h5 class="black-text">Contacto</h5>
				<a href="mailto:puquereo@gmail.com"><p class="black-text text-lighten-4" style="font-size:20px"> <i class="material-icons small" style="vertical-align:bottom">email</i> puquereo@gmail.com</p></a>
				<a href="tel:+56974555260"><p class="black-text text-lighten-4" style="font-size:20px;"> <i class="material-icons small" style="vertical-align:bottom">local_phone</i> +5697455526</p></a>
				<a href="https://goo.gl/maps/7GipYBfQgd82"><p class="black-text text-lighten-4" style="font-size:20px;"> <i class="material-icons small" style="vertical-align:bottom">location_on</i> Km. 27 Ruta Freire-Villarica, Freire.</p></a>
			</div>
			<div class="hide-on-small-only hide-on-large-only col m6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1630.7476323770009!2d-72.38775969330428!3d-39.098634810546365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9614eda27b080a13%3A0xa7b401f42180d240!2sRuta+199%2C+Freire%2C+IX+Regi%C3%B3n!5e1!3m2!1ses-419!2scl!4v1522177328746" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<!-- Contacto y mapa: Mobile -->
			<div class="hide-on-large-only hide-on-med-only col s12">
				<h5 class="black-text">Contacto</h5>
				<a href="mailto:puquereo@gmail.com"><p class="black-text text-lighten-4" style="font-size:20px"> <i class="material-icons small" style="vertical-align:bottom">email</i> puquereo@gmail.com</p></a>
				<a href="tel:+56974555260"><p class="black-text text-lighten-4" style="font-size:20px;"> <i class="material-icons small" style="vertical-align:bottom">local_phone</i> +5697455526</p></a>
				<a href="https://goo.gl/maps/7GipYBfQgd82"><p class="black-text text-lighten-4" style="font-size:20px;"> <i class="material-icons small" style="vertical-align:bottom">location_on</i> Km. 27 Ruta Freire-Villarica, Freire.</p></a>
			</div>
			<div class="hide-on-large-only hide-on-med-only col s12">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1630.7476323770009!2d-72.38775969330428!3d-39.098634810546365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9614eda27b080a13%3A0xa7b401f42180d240!2sRuta+199%2C+Freire%2C+IX+Regi%C3%B3n!5e1!3m2!1ses-419!2scl!4v1522177328746" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<!-- Parallax Inferior -->
	<div class="parallax-container">
		<div class="parallax hide-on-med-and-down"><img class="responsive-img" src="~/Resources/Images/placebo2-responsive.png"></div>
		<div class="parallax hide-on-large-only"><img src="~/Resources/Images/placebo2-responsive.png"></div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('.parallax').parallax();
	});

</script>
