@{
	ViewBag.Title = "Página Principal";
}
<!-- Introducción -->
<div id="intro">
	<h4>¡Bienvenido a nuestro sitio!</h4>
	<p> Aquí usted puede ver y pagar sus deudas. Para comenzar, ingrese su RUT abajo y luego haga click en <i>Ingresar</i>.</p>
</div>
<!-- Ingreso de RUT -->
<div class="container row">
	<div id="blank-space" class="hide-on-small-only col s12 m4 l4">
		&nbsp;
	</div>
	<div class="card col s12 m4 l4">
		<div class="input-field">
			<input id="rut-input" type="text" class="validate">
			<label class="active" for="rut-label">Ingrese su RUT</label>
		</div>
		<div class="card-action input-field">
			<a id="ingresar-button" class="waves-effect waves-light btn" href="#" onclick="Deudas()">Ingresar</a>
		</div>
	</div>
	<div id="blank-space" class="hide-on-small-only col s12 m4 l4">
		&nbsp;
	</div>
</div>


<script>
    var rut = "";
    function Deudas() {
        rut = $('#rut-input').val();
        $.ajax({
            type: 'post',
            url: '@Url.Action("JsonValidarRut")',
            data: { rut: rut },
            success: function (data) {
                if (data.exito) {
                    location.href = "@Url.Action("Deudas", "Session")?rut=" + rut;
                } else {
                    if (data.mensaje) {
                        Materialize.toast(data.mensaje, 3000, 'red')
                    }
                }
            }
        })

    }
</script>