@{
	ViewBag.Title = "Página Principal";
}
<!-- Contenido -->
<div class="hide-on-small-only hide-on-med-only" id="background-image"></div>
<div class="hide-on-small-only hide-on-large-only" id="background-image-med"></div>
<div class="hide-on-med-only hide-on-large-only" id="background-image-sm"></div>