@{
    ViewBag.Title = "Deudas";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}
<!-- Header -->
<div>
    <h4>¡Bienvenido Fulanito González!</h4>
    <h5>Seleccione las deudas que desea pagar:</h5>
</div>
<!-- Contenido generado automáticamente -->
<form action="#">
    <a class="waves-effect waves-light btn">Generar boleta y Pagar</a>
</form>