@{
	ViewBag.Title = "Error";
	Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}
<div class="container">
	<i class="large material-icons">error</i>
	<h4>Lo sentimos. Ha ocurrido el siguiente error:</h4>
	<!-- Contenido generado automáticamente -->
	<h5>Error de ejemplo.</h5>
	<p>Información de ayuda de ejemplo.</p>
</div>