<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
	<script src="~/Scripts/modernizr-2.6.2.js"></script>
	<script src="~/Scripts/materialize.js"></script>
	<script src="~/Scripts/jquery.dataTables.min.js"></script>
	<script src="~/Scripts/Resyst.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="~/Content/materialize.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap4.css" rel="stylesheet" />
	@*<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />*@
	<title>@ViewBag.Title - Agua Potable Puquereo</title>
</head>
<body>
	<!-- Asignación de usuario -->
	@{
	}
	<!-- Header -->
	<header>
		<nav>
			<div class="nav-wrapper grey darken-4">
				@if (Request.Url.ToString().Contains("Deuda")) {
					<!-- Título y links: Desktop -->
					<a class="brand-logo hide-on-med-and-down"><img src="~/Resources/Images/logo2-small-navbar.png"/></a>
					<ul id="nav-mobile" class=" right hide-on-med-and-down">
						<li><a id="boton" href=@Url.Action("Index", "Home")>Salir</a></li>
					</ul>
					<!-- Título y links: Mobile -->
					<a class="brand-logo hide-on-large-only"><img src="~/Resources/Images/logo2-small-navbar.png"/></a>
					<a data-activates="mobile-demo" href="#" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
					<ul class="side-nav hide-on-large-only" id="mobile-demo">
						<li>
							<div class="user-view">
								<div class="background">
									<img src="~/Resources/Images/placebo3-small.png">
								</div>
								<br /><br />
							</div>
						</li>
						<li><a style="font-size: 20px" href=@Url.Action("Index", "Home")>Salir</a></li>
					</ul>
				}
				else {
					<!-- Título y links: Desktop -->
					<a class="brand-logo hide-on-med-and-down"><img src="~/Resources/Images/logo2-small-navbar.png"/></a>
					<ul id="nav-mobile" class=" right hide-on-med-and-down">
						<li><a id="boton" href=@Url.Action("Index", "Home") >Inicio</a></li>
						<li><a id="boton" href=@Url.Action("About", "Home") >Acerca de</a></li>
						<li><a id="boton" href=@Url.Action("Login", "Administracion") >Administración</a></li>
					</ul>
					<!-- Título y links: Mobile -->
					<a class="brand-logo hide-on-large-only"><img src="~/Resources/Images/logo2-small-navbar.png"/></a>
					<a data-activates="mobile-demo" href="#" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
					<ul class="side-nav hide-on-large-only" id="mobile-demo">
						<li>
							<div class="user-view">
								<div class="background">
									<img src="~/Resources/Images/placebo3-small.png">
								</div>
								<br /><br />
							</div>
						</li>
						<li><a id="boton-mobile" href=@Url.Action("Index", "Home")>Inicio</a></li>
						<li><a id="boton-mobile" href=@Url.Action("About", "Home")>Acerca de</a></li>
						<li><a id="boton-mobile" href=@Url.Action("Login", "Administracion")>Administración</a></li>
					</ul>
				}
			</div>
		</nav>
	</header>
	<!-- Cuerpo -->
	<div id="main-principal">
		@RenderBody()
	</div>
	<!-- Footer -->
	<footer class="page-footer blue-grey darken-4">
		<div class="container">
			<div class="row">
				<div id="info" class="left show-on-medium-and-up col s12 m4 l4">
					<!-- Información: Desktop -->
					<div id="info-desktop" class="hide-on-small-only">
						<h5 class="white-text">Contacto</h5>
						<p class="grey-text text-lighten-4">Email: puquereo@gmail.com</p>
						<p class="grey-text text-lighten-4">Teléfono: +56 9 7455 5260</p>
						<p class="grey-text text-lighten-4">Dirección: Km. 27 Ruta Freire-Villarica, Freire.</p>
					</div>
					<!-- Información: Mobile -->
					<div id="info-mobile" class="hide-on-med-and-up">
						<h5 class="white-text">Contacto</h5>
						<p class="grey-text text-lighten-4">Email: puquereo@gmail.com</p>
						<p class="grey-text text-lighten-4">Teléfono: +56 9 7455 5260</p>
						<p class="grey-text text-lighten-4">Dirección: Km. 27 Ruta Freire-Villarica, Freire.</p>
					</div>
				</div>
				<div class="center show-on-medium-and-up col s12 m6 l6">
					&nbsp;
				</div>
				<div class="show-on-medium-and-up col s12 m2 l2">
					<!-- Facebook: Desktop -->
					<div id="facebook-info-desktop" class="hide-on-small-only">
						<h5 class="white-text">Facebook</h5>
						<div id="facebook-logo-desktop">
							<a target="_blank" href="https://www.facebook.com/Apr-Puquereo-277645909062927/">
								<img src="~/Resources/Images/facebook.svg" width="32" />
							</a>
						</div>
					</div>
					<!-- Facebook: Mobile -->
					<div id="facebook-info-mobile" class="hide-on-med-and-up">
						<h5 class="white-text">Facebook</h5>
						<a id="facebook-logo-desktop" target="_blank" href="https://www.facebook.com/Apr-Puquereo-277645909062927/">
							<img src="~/Resources/Images/facebook.svg" width="32" />
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Copyright -->
		<div class="center footer-copyright">
			<div class="container">
				Hecho por el equipo de <a target="_blank" href="http://resyst.loteriagg.com/" style="text-decoration: none">Resyst Softwares</a>.
			</div>
		</div>
	</footer>
	<script>
		$(document).ready(function () {
			$(".button-collapse").sideNav();
		});
	</script>
</body>
</html>
