<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-3.2.1.js"></script>
	<script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/materialize.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
	<title>@ViewBag.Title - Agua Potable Puquereo</title>
</head>
<body>
	<!-- Asignación de usuario -->
	@{
		var user = (TBL_USUARIO) Session["UsuarioLogged"];
	}
	<!-- Header -->
	<header>
		<nav class="top-nav">
			<div class="nav-wrapper">
				@if (user != null) {
					<!-- Título y links: Desktop -->
					<a class="brand-logo center hide-on-med-and-down">Agua Potable Puquereo</a>
					<ul id="nav-mobile" class=" right hide-on-med-and-down">
						<li><a href=@Url.Action("Index", "Home")>Salir</a></li>
					</ul>
					<!-- Título y links: Mobile -->
					<a class="truncate brand-logo center hide-on-large-only">APR Puquereo</a>
					<a data-activates="mobile-demo" href="#" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
					<ul class="side-nav hide-on-large-only" id="mobile-demo">
						<li><a href=@Url.Action("Index", "Home")>Salir</a></li>
					</ul>
				}
				else {
					<!-- Título y links: Desktop -->
					<a class="brand-logo center hide-on-med-and-down">Agua Potable Puquereo</a>
					<ul id="nav-mobile" class=" right hide-on-med-and-down">
						<li><a href=@Url.Action("Index", "Home")>Inicio</a></li>
						<li><a href=@Url.Action("About", "Home")>Acerca de Nosotros</a></li>
					</ul>
					<!-- Título y links: Mobile -->
					<a class="truncate brand-logo center hide-on-large-only">APR Puquereo</a>
					<a data-activates="mobile-demo" href="#" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
					<ul class="side-nav hide-on-large-only" id="mobile-demo">
						<li><a href=@Url.Action("Index", "Home")>Inicio</a></li>
						<li><a href=@Url.Action("About", "Home")>Acerca de Nosotros</a></li>
					</ul>
				}
			</div>
		</nav>
	</header>
	<!-- Cuerpo -->
	<div id="main">
		@RenderBody()
	</div>
	<!-- Footer -->
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div id="info" class="left show-on-medium-and-up col s12 m6 l3">
					<!-- Información: Desktop -->
					<div id="info-desktop" class="hide-on-small-only">
						<h5 class="white-text">Contacto</h5>
						<p class="grey-text text-lighten-4">Dirección: Km. 27 Ruta Freire-Villarica, Freire.</p>
						<p class="grey-text text-lighten-4">Email: puquereo@gmail.com</p>
						<p class="grey-text text-lighten-4">Teléfono: +56 9 7455 5260</p>
					</div>
					<!-- Información: Mobile -->
					<div id="info-mobile" class="hide-on-med-and-up">
						<h5 class="white-text">Contacto</h5>
						<p class="grey-text text-lighten-4">Dirección: Km. 27 Ruta Freire-Villarica, Freire.</p>
						<p class="grey-text text-lighten-4">Email: puquereo@gmail.com</p>
						<p class="grey-text text-lighten-4">Teléfono: +56 9 7455 5260</p>
					</div>
				</div>
				<div class="show-on-medium-and-up col s12 m6 l9">
					<!-- Facebook: Desktop -->
					<div id="facebook-info-desktop" class="hide-on-small-only">
						<h5 class="white-text">Facebook</h5>
						<a id="facebook-logo-desktop" target="_blank" href="https://www.facebook.com/Apr-Puquereo-277645909062927/">
							<img src="~/Resources/Images/facebook.svg" width="32" />
						</a>
					</div>
					<!-- Facebook: Mobile -->
					<div id="facebook-info-mobile" class="hide-on-med-and-up">
						<h5 class="white-text">Facebook</h5>
						<a id="facebook-logo-desktop" target="_blank" href="https://www.facebook.com/Apr-Puquereo-277645909062927/">
							<img src="~/Resources/Images/facebook.svg" width="32" />
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Copyright -->
		<div class="center footer-copyright">
			<div class="container">
				© 2018 <a target="_blank" href="http://resyst.loteriagg.com/" style="text-decoration: none">Resyst ® Softwares™</a>. Todos los derechos reservados.
			</div>
		</div>
	</footer>
	<script>
		$(document).ready(function () {
			$(".button-collapse").sideNav();
		});
	</script>
</body>
</html>
