/* Materialize */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	text-align: center;
}

#main {
	flex: 1 0 auto;
	margin: 16px;
}

/* Footer */
#info {
	text-align: left;
}

#info-mobile {
	text-align: center;
}

#facebook-info-desktop {
	text-align: right;
}

#facebook-info-mobile {
	text-align: center;
}

/* Deudas */