/* Materialize */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	text-align: center;
}

#main {
	flex: 1 0 auto;
	margin: 16px;
}

/* Index */
#ingresar-button {
	margin-bottom: 1.5em;
}

/* Footer */
#info {
	text-align: left;
}

#info-mobile {
	text-align: center;
}

#facebook-info-desktop {
	text-align: center;
}

#facebook-info-mobile {
	text-align: center;
}

/* Administración: Login */

#ir-al-inicio {
	margin-bottom: 1em;
}