
@{
    ViewBag.Title = "Cliente";
}

<table id="tablaClientes" style="border:1px solid #d0d0d0" class="table bordered striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Rut</th>
            <th>Cuenta</th>
            <th>Deuda Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
</table>


<script>
    $('#tablaClientes').DataTable({
        bFilter: false,
        bInfo: false,
        bPaginate: false,
        ordering: false,
        "columns": [
            { data: "Nombre" },
            { data: "Rut" },
            { data: "Cuenta" },
            {
                render: function (dat, type, full, meta) {
                    return (full.TotalDeuda).formatMoney(0, ',', '.')
                }
            },
            {
                'render': function (dat, type, full, meta) {
                    return '<a href="javascript:void()" onclick="Mantncion(' + full.Id + ')"><i class="material-icons">mode_edit<i></a>';
                }
            },
        ],
        "ajax": {
            "url": "@Url.Action("GetListaCliente")",
            "type": "POST",
            "dataType": "json"
        },
    });

    function Mantncion(id) {
        location.href = '@Url.Action("MantencionCliente")?id=' + id;
    }
</script>