@{
	Layout = null;
	<script src="~/Scripts/jquery-3.2.1.js"></script>
	<script src="~/Scripts/modernizr-2.6.2.js"></script>
	<script src="~/Scripts/materialize.js"></script>
	<script src="~/Scripts/jquery.dataTables.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="~/Content/materialize.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
	<title>Login - Agua Potable Puquereo</title>
}
<!-- Loader -->
<div id="loader" class="container">
	<h4>Cargando...</h4>
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div><div class="gap-patch">
				<div class="circle"></div>
			</div><div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>
<!-- Contenido -->
<div class="container" id="content" style="display: none;">
	<div class="row" style="margin-left:0; margin-right:0; margin-top: 50px">
		<!--<div class="z-depth-3 col s12 m8 l4 offset-l4 offset-m2">-->
		<div id="blank-space" class="hide-on-small-only col s12 m2 l3">
			&nbsp;
		</div>
		<div class="z-depth-3 col s12 m8 l6">
			<form method="post" id="formulario">
				<div class="input-field" style="margin-top: 20px">
					<input id="nombre" type="text" name="nombre">
					<label class="active" for="nombre">Usuario</label>
				</div>
				<div class="input-field" style="margin-top: 20px">
					<input id="contrasena" type="password" name="contrasena">
					<label class="active" for="contrasena">Contraseña</label>
				</div>
				<div class="row">
					<!-- Desktop -->
					<div class="col s12 m6 l6 hide-on-med-and-down">
						<a class="z-depth-3 btn light-blue darken-3" href="@Url.Action("Index", "Home", new { area="" })">Inicio</a>
					</div>
					<div class="col s12 m6 l6 hide-on-med-and-down">
						<input type="submit" class="z-depth-3 btn green accent-4" value="Ingresar" />
					</div>
					<!-- Mobile -->
					<div id="ir-al-inicio" class="col s6 m6 l6 hide-on-large-only">
						<a class="z-depth-3 btn light-blue darken-3" href="@Url.Action("Index", "Home", new { area="" })">Inicio</a>
					</div>
					<div class="col s6 m6 l6 hide-on-large-only">
						<input type="submit" class="z-depth-3 btn green accent-4" value="Ingresar" />
					</div>
				</div>
			</form>
		</div>
		<div id="blank-space" class="hide-on-small-only col s12 m2 l3">
			&nbsp;
		</div>
	</div>
</div>

<script>
	function pageLoading(status) {
		if (status == 'true') {
			$("#loader").css('display', 'block');
			$("#content").css('display', 'none');
		}
		else {
			$("#loader").css('display', 'none');
			$("#content").css('display', 'block');
		}
	}
	pageLoading("false");
    $('#formulario').submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: 'post',
            url: '@Url.Action("Index")',
            data: $('#formulario').serialize(),
            success: function (data) {
				if (data.exito) {
					pageLoading("true");
                    location.href = "@Url.Action("Index","Administrador")";
				} else {
					pageLoading("false");
                    if (data.mensaje) {
                        Materialize.toast(data.mensaje, 3000);
                    }
                }
            }
        })
    })
</script>